# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  GOPATH: '$(Agent.BuildDirectory)/gopath' # Go workspace path
  GOBIN:  '$(GOPATH)/bin' # Go binaries path
  GO111MODULE: 'on'
  modulePath: '$(system.defaultWorkingDirectory)' # Path to the module's code

steps:
- task: InstallSSHKey@0
  inputs:
    knownHostsEntry: '$(KNOWN_HOST)' 
    sshPublicKey: '$(SSH_PUBLIC_KEY)'
    sshKeySecureFile: 'azure-pipelines-ssh-key'
- script: |
    git config --global url.ssh://git@github.com/.insteadOf https://github.com/
    mkdir "%GOBIN%"
    mkdir "%GOPATH%/pkg"
  displayName: 'Set up the Go workspace'

- script: |
    make all
  workingDirectory: '$(modulePath)'
  displayName: 'Build'

- publish: $(modulePath)/bin
  artifact: binaries

- publish: $(modulePath)/test/pester
  artifact: test
